# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/

# Environment Variables
.env

# =========================
# Node / Frontend
# =========================
node_modules/
dist/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Project Outputs
# =========================
outputs/logs/
outputs/models/
outputs/predictions/
outputs/plots/

# Trained Models
*.pkl

# =========================
# Raw Data
# =========================
data/raw/

# =========================
# Internal AI / Agent Stuff
# =========================
.agents/
.claude/