# =========================
# Core Data Science
# =========================
pandas
numpy
scikit-learn
matplotlib

# =========================
# Geospatial Processing
# =========================
rasterio
geopandas

# =========================
# Database
# =========================
sqlalchemy
psycopg2-binary
python-dotenv

# =========================
# Notebook / Research
# =========================
jupyter

# =========================
# Utilities
# =========================
gdown

# =========================
# Backend API
# =========================
fastapi
uvicorn

# =========================
# Frontend Integration / API
# =========================
openpyxl